*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;

}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.cloud
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;

}


.logo img
{
    width: 200px;
    height: auto;
}
.create-bucket{
  width: 300px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
.create-bucket h1{
  margin-top: 100px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 40px;
}
.create-bucket input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat",sans-serif;
}

.txts{
  margin-top: 0px;
  margin-bottom: 10px;
  background: rgba(255,255,255,.5);
  border-radius: 6px;
  padding: 0 16px;
  text-align: center;
  width: 100%;
  height: 35px;
}

.txtb{
  margin: 20px 0;
  background: rgba(255,255,255,.5);
  border-radius: 6px;
  text-align: center;
}

.select1{
    color: #cccccc;
}

.create-bucket h3{
    color: #cccccc;
    font-family: 'Permanent Marker', cursive;
}

.bucket-btn{
  margin-top: 20px;
  margin-bottom: 20px;
  background: #487eb0;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}
.bucket-btn:hover{
  transform: scale(0.96);
}
.bucket-form a{
  text-decoration: none;
  color: #fff;
  font-family: "montserrat",sans-serif;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.bucket-form a:hover{
  background: rgba(0,0,0,.3);
}
