<html>
<head>
    <title>CLOUD FORMATION TEMPLATE GENERATOR</title>
    <link href="static/css/s3style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>

    <div class="create-bucket">
      <form class="" action="signup.html" method="post">
        <h1>Sign Up</h1>
        <input type="text" placeholder="First Name" class="txtb">
        <input type="text" placeholder="Last Name" class="txtb">
        <input type="password" placeholder=" New Password" class="txtb">
         <input type="password" placeholder="Confirm Password" class="txtb">
        <input type="submit" value="Login" class="bucket-btn">
      </form>
    </div>

    </header>

</body>
</html>
